
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Song List</h3>
    @*<table border="1">
        <tr>
            <th>SongID</th>
            <th>SongName</th>
            <th>SongType</th>
            <th>SingerName</th>
        </tr>
        @foreach(var song in ViewBag.songs)
        {
        <tr>
            <td>@song.SongID</td>
            <td>@song.SongName</td>
            <td>@song.SongType</td>
            <td>@song.SingerName</td>
            <td>Edit | Delete</td>
        </tr>
         }

    </table>*@
</body>
</html>
